

<div class="block-login-form__login-container anim-in-out anim-fade" data-anim-speed="1000" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                <form name="{{form_name}}"
                      class="block-newsletter-form__form"
                      id="{{form_name}}"
                      sf-schema="schema"
                      sf-form="form"
                      sf-model="model"
                      ng-submit="onSubmit($event)"
                      ng-hide="form_success">

                    <div sf-insert-field="['username']"></div>
                    <div sf-insert-field="['password']"></div>

                    {{show_forgot_password}}
                    {{showForgotPassword}}

                    <a ui-sref="forgot_password_page" ng-if="showForgotPassword" ng-bind-html="'form.forgot_password' | translate"></a>

                    <button type="submit"
                            class="btn btn-primary btn-form"
                            ng-bind-html="'form.submit' | translate"></button>

                </form>

            </div>
        </div>
    </div>
